<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>w&#601;? abode</title>
		<meta name="description" content="Official information and source for the Abode app.">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<link rel="icon" href="http://funnymania.lol/favicon.ico">
		<link rel="stylesheet" href="global.css">
		<style>
			html {
				height: 100%;
			}
			#splash {
				width: 100%;
				height: 100%;
			}
			body {
				margin: 0px;	
			}
		</style>
	</head>
	<body>
		<div id="splash" class="section-no-flex"> 
			<!-- covers full screen (and then some?)-->
			<!-- <img src="some-img"></img> -->
			<div id="splash-grid">
				<h1 class="grid-child two">Your humble, Abode.</h1>
				<div class="grid-child three">
					<p>the non-social file network for friends.</p>
					<p>we do not store your data</p>
					<p>we do not store any of your activity</p>
					<p>just have fun.</p> 
				</div>
				<div class="grid-child four">
					<!--a href="/why???" target="_blank">
						<button class="pay-button">why this matters</button>
					</a-->
				</div>
			</div>
			<div class="house" style="margin-left:10%"></div>
			<div class="house" style="margin-left:25%;height:109%;"></div>
			<div class="house" style="margin-left:50%;height:110%;"></div>
			<div class="house" style="margin-left:60%;height:99%;"></div>
			<div class="house" style="margin-left:85%"></div>
		</div>
		<div id="desc" class="section">
			<div class="container">
				<div class="center-me">
						<!--
					<video>
						<source src="tui.mp4" type="video/mp4">
					</video>
						-->
					<h2>Abode is tiny, intimate, and cheap</h2>
					<h3>For sharing files, it is <u>cheaper</u> than Drive and Dropbox.</h3>
					<h3>For talking with friends, it is <u>more cozy</u> than social media</h3> 
					<h3>As a decentralized network, you only need to trust yourself, and trust us to write the code securely. Never trust Big Tech for this again!</h3>
					<h3><a href="/security">For more information on security guarantees</a></h3>
				</div>
			</div>
		</div>
		<div id="news" class="section">
			<div class="container">
				<div class="center-me">
					<h2>Want to start using it now?&nbsp;</h2>
					<h3><a href="/pre-release">We're offering Pre-release for interested parties</a></h3>
				</div>
			</div>
		</div>
		<div id="donate" class="section">
			<div class="container">
				<div class="center-me">
					<h2>Help us out while we bootstrap this monster</h2>
					<h3><a href="https://ko-fi.com/funnymania">Buy us a coffee</a></h3>
					<h2>Tip us with crypto!</h2>
					<h3><button id="pay-button" class="pay-button">~Connect to MetaMask~</button></h3>
					<h2>currently just a team of 1 person. 😩</h2>
					<h3>operating with zero in a bank account of fame</h3>
				</div>
			</div>
		</div>
		<div id="release-schedule" class="section">
			<div class="grid">
				<div id="release-spacer">
					<img id="ornament-1" src="2790215.svg" alt="optical-spinner">
				</div>
				<div id="milestone-container">
					<div class="milestone">
						<h2>Desktop Terminal User Interface</h2>
						<h3 class="milestone-approx">November 2021</h3>
						<h3 class="milestone-desc">Desktop Client available for Early Access</h3>
					</div>
					<div class="milestone">
						<h2>MacOS Client</h2>
						<h3 class="milestone-approx">Q4 2021</h3>
						<h3 class="milestone-desc">Graphical UI for Mac</h3>
					</div>
					<div class="milestone">
						<h2>iOS Client</h2>
						<h3 class="milestone-approx">Q4 2021</h3>
						<h3 class="milestone-desc">iOS App v1</h3>
					</div>
					<!--
					<div class="milestone">
						<h2>Android Client</h2>
						<h3 class="milestone-approx">End of Year</h3>
						<h3 class="milestone-desc">Android App v1</h3>
					</div>
					-->
				</div>
			</div>
		</div>
		<div id="subscriber" class="section">
			<div class="container">
				<div class="center-me">
				<div class="flex">
					<h2>For news on updates and developments:&nbsp;</h2>
					<h3><a href="/subscribe">Receive updates through email</a></h3>
				</div>
				<!--div class="flex">
					<h2>For the iOS/macOS app:&nbsp;</h2>
					<h3><a href="/apple-waitlist">Get on the Waiting List</a></h3>
				</div-->
				<!--div class="flex">
					<h2>For Linux, Windows, and Mac users:&nbsp;</h2>
					<h3><a href="" target="_blank">Download Abode CLI</a></h3>
				</div-->
				</div>
			</div>
		</div>
		<div id="footer" class="section">
			<h3 id="num-install">0</h3>
			<div class="flex">
				<h3 style="margin-bottom:0;">Contact us with business inquiries:&nbsp;</h3>
				<h3>mcclureDmichael@gmail.com</h3>
			</div>
		</div>
	<script>
	    // Requst resources... 
	    fetch('/installs')
			.then(res => res.text())
			.then(text => {
				installs = text
				let numInstall = document.getElementById('num-install');
				numInstall.innerHTML = installs + ' active device installs';
			})
			.catch(err => console.log(err));
	    // console.log(installs);

		// Load ETH options.
		window.addEventListener('load', () => {
			if (window.ethereum) {
				try {
					initPayButton()
				} catch (err) {
					console.log('User denied account access')
				}
			} else if (window.web3) {
				window.web3 = new Web3(web3.currentProvider);
				initPayButton()
			} else {
				console.log('No Metamask (or other Web3 Provider) installed')
			}
		})

		let currentAccount;
		let connected = false;
		const initPayButton = () => {
			let payButton = document.getElementById('pay-button');
			payButton.addEventListener('click', async () => {
				if (!connected) {
					const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
					currentAccount = accounts[0];
					payButton.innerHTML = '♥️💙♥️♥️💚 ~ tip us ~ 💚♥️♥️💙♥️';
					connected = true;
				} else {
					const paymentAddress = '0xCF6D436D10AD34029884066E71F5e4887eCd9aDb';
					const hexWei = '0x16345785D8A0000';
					const transaction = {
						to: paymentAddress,
						from: currentAccount,
						value: hexWei
					};
					ethereum.request({
						method: 'eth_sendTransaction',
						params: [transaction]
					})
					.then((txHash) => console.log(txHash))
					.catch((err) => console.error);
				}
			})
		}

		function openWhy() {
			window.location.assign('http://funnymania.lol/why???');
		}

		function becomeSubscriber() {

		}

		function joinMaillist() {
			// send post req

		}
	</script>
	</body>
</html>
