<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>w&#601;? abode</title>
		<meta name="description" content="1-up with a plussy! 😲">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<link rel="icon" href="https://funnymania.lol/favicon.ico">
		<link rel="stylesheet" href="global.css">
		<style>
			html {
				height: 100%;
			}
			#splash {
				width: 100%;
				height: 100%;
			}
			body {
				margin: 0px;	
			}
		</style>
		<script type="application/javascript" src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js">
		</script>
	</head>
	<body>
		<div id="plussy-feed">
			<div id="most-recent" class="plussy-container">
				<h3>A more recent Plussy</h3>
				<!-- What network (ETH, Polygon, sol, etc) -->
				<!-- Location on the network -->
				<!-- Name (if it has one)-->
				<!-- NFT fields -->
				<div class="plussy-media"></div>
				<div class="plussy-desc"></div>
			</div>
			<div id="users-plussy" class="plussy-container">
				<h3>Your plussyspace</h3>
				<div class="plussy-media"></div>
				<div class="plussy-desc"></div>
			</div>
		</div>
		<h4>Com at me: <a href="https://twitter.com/_funnymania">https://twitter.com/_funnymania</h4>
		<script>
			// layout
				flexbox
			// Get mostRecentPlussy
			// Get userPlussy else plussy not found :0!! You can add one of your choosing, feel free to plussy it once every three days 
			/*
			* random plussy from last block (image, if available... video, if available... etc)
			* [ plussy ]
			* connected wallet's last plussy here
			* [ plussy ]
			* [add your most recent]
			*/
		</script>
	</body>
</html>
