<html>
	<head>
		<meta charset="utf-8">
		<title>Pre-Release! Abode</title>
		<meta name="description" content="Official information and source for the Abode app.">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<link rel="icon" href="http://funnymania.lol/favicon.ico">
		<link rel="stylesheet" href="global.css">
		<style>
			html {
				height: 100%;
			}
			#splash {
				width: 100%;
				height: 100%;
			}
			body {
				margin: 0px;	
			}
		</style>
	</head>
	<body>
		<h2>Pre-Release</h2>
		<h3>We are opening up development of our desktop Terminal User Interface, providing rapidly iterated updates, and direct contact with our organization.</h3>
		<h3>Drop us an email if you would like to find out more: mcclureDmichael@gmail.com</h3>
		<h3>Our desktop application is almost available for Early access.</h3>
		<h3>You can <a href="https://buy.stripe.com/6oE8wG35qeIe2TCaEE" target="_blank">purchase Early Access Here.</a></h3>
	</body>
</html>
