<html>
	<head>
		<title>w&#601;? abode</title>
		<link rel="icon" href="http://funnymania.lol/favicon.ico">
		<link rel="stylesheet" href="global.css">
		<style>
			#splash {
				color: lightgrey;
				background-color: purple;
				width: 100%;
				height: 100%;
			}
			body {
				margin: 0;	
			}
		</style>
	</head>
	<body>
		<h2>why does this matter?</h2>
		<p>
			Wherein...
		</p>
		<p>
			We have come to a place, technologically, where we no not need Big Tech to function collectively
		</p>
		<p>
			and We have seen the consequences of qualifying ourselves in order to have a central feed for information, in which we are lied to by bad actors, and moderated by biased service providers 
		</p>
		<p>
			and Concurrently, we exist in Stream Reality, in which we do not possess ownership over our resources and are indebted to service providers for functionality. 
		</p>
		<p>		
			This creates a twin vortex of binding to entities and novel services beyond our understanding and control, and therefore accountability. 
		</p>
		<p>
			Making the situation more concerning is the fantastic and rich value of shared digital experiences, which involving our peers, takes place in a dominant fashion on four or so different platforms, owned by private enterprises that corrorborate and compete with eachother for restricted access to claims to the space.
		</p>
		<p>
			It isn't that a decentralized social graph would not be a positive occurrence, as in the research of Twitter's Blue Sky division, but that it is too late, and would require therefore legislative, government force, which would highly impact a government's political interests of beholding rich and powerful operations such as occur in modern day Internetta, and being able to freely audit, backdoor, or halt these operations for access into, and control over, all citizens' activities. 
		</p>
		<p>
			On one hand, we cannot trust the experiences and politics of these so called 'social apps'...
		</p>
		<p>
			And on the other, we need to be able to communicate effectively and share experiences with others in an evolving fashion.
		</p>
		<p>	
			While we lack the technological knowledge to produce hardware at any scale beyond 0 to solve this (please email us if you are someone who can!), we do not lack the knowledge to resolve these two issues at the SOFTWARE and ORGANIZATIONAL level. 
		</p>
		<p>	
			This is an unreliable and unacceptable painting our times' decision makers have left to dry, for us all to live in. 
		</p>
		<p>
			But we spy all around us other painters, curiously taking notes, and carefully talking.
		</p>
	</body>
</html>
